<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073308277702-fdjhgo0ih5jhqn3k5sk81tlegserlmsj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073308277702-fdjhgo0ih5jhqn3k5sk81tlegserlmsj</string>
	<key>API_KEY</key>
	<string>AIzaSyCa3c9Vsq2ECW4fWbXXFAKmOzkJJxWaAPI</string>
	<key>GCM_SENDER_ID</key>
	<string>1073308277702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseAuthentication</string>
	<key>PROJECT_ID</key>
	<string>auth-d10c6</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-d10c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073308277702:ios:1b9501f81c270564b1f0c7</string>
</dict>
</plist>